

  .labelText {
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: 4px;
  }
  

  
  .searchInput {
    padding: 8px 10px;
    width: 320px;
    margin-bottom: 8px;
    font-size: 18px;
    border-radius: 4px;
    outline: none;
    border: 2px solid #a9a9a9;
  }
  
  .searchInput:hover,
  .searchInput:focus {
    border-color: #4d4d4d;
    box-shadow: 0 0 5px #4d4d4d;
  }
