.form {
    border: 1px solid black;
    width: 320px;
    padding: 20px 16px;
    border-radius: 8px;
}
.label {
    display: flex;
    flex-direction: column;
}
.labelText {

}
.formInput {
    padding: 6px 12px;
    margin-bottom: 12px;
}
.FormBtn {
    display: block;
    margin: auto;
    padding: 6px 12px;
}