.nav {
    display: flex;
    gap: 28px;
    
    font-size: 28px;
  
    transition: all 0.3s;
  }
  

  .navLink {
    text-decoration: none;
    color: black;
  }

  .active {
    color: blue;
  }
  

  .navLink:hover {
    color: blue;
  }
  
