.friendsList {
display: flex;
justify-content: space-between;
width: 400px;
margin: auto;
margin-bottom: 200px;
}

.friendItem {
    padding: 20px 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    border: solid black 2px;
}

.friendName {
    margin-top: 8px;
    text-align: center;
}

.friendStatus {
    margin-top: 2px;
    font-size: 12px;
    text-align: center;
}

.friendOnline {
    color: green;
}

.friendOfline {
    color: red;
}