/* src/index.css */

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  
  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  
  table {
    border-collapse: collapse;
    border: 0;
    border-spacing: 0;
  }