.userMenu {
    display: flex;
}

.userMenuText {
    font-size: 28px;
    font-weight: 700;
}



.logOutBtn {
    margin-left: 40px;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 12px;
    border: 2px solid #a9a9a9;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    
    cursor: pointer;
    transition: all 0.3s ease;
}

.logOutBtn:hover,  
.logOutBtn:focus {
    border-color: blue;
    box-shadow: 0 0 5px #4d4d4d;
}